* {
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  display: flex;
  justify-content: space-between;
  height: 74px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 50px;
}
.logo {
  font-family: cursive;
  padding: 30px;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
.gallery-btn,
.memes-btn {
  color: #21ac91;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 22px 7px 22px;
  font-family: cursive;
}
/* padding: 25px 50px 75px 100px;
top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px */
.gallery-btn {
  height: 40px;
  /* margin-right: 345px; */
}
.memes-btn {
  height: 40px;
}
.header-links {
  margin-right: 20px;
}

body {
  margin: 0;
  background-color: #22252c;
}
main {
  margin-left: 10px;
  margin-right: 10px;

  /* font-family: poppins; */
}
.bgc {
  background-color: #383b42;
}
canvas {
  border-radius: 10px;
}

.img-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.images:hover {
  transform: scale(1.1);
  transition: scale 2s;
  cursor: pointer;
}

.grid-container {
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 69px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.editor {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: gray; */
  width: 509px;
  height: 509px;
  border: gray 5px solid;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    #c9a626,
    #c8b619,
    #c2c709,
    #b8d902,
    #a8eb12
  );
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.constrols {
  justify-content: space-between;
}

.link-download {
  text-decoration: none;
}
input[type='color'] {
  cursor: pointer;
  height: 82px;
  width: 75px;
  border-radius: 8px;
}

.logo-img {
  width: 100px;
}
.canvas-editor {
  border: gray 5px solid;
  margin-right: 50px;
}
.input-meme {
  width: 80%;
  margin-top: 20px;
  height: 58px;
  border-width: 2px;
  border-color: #cccccc;
  border-style: solid;
  text-align: center;
  font-size: 1.5rem;
  font-family: cursive;
  text-shadow: 0px 0px 2px rgba(42, 42, 42, 0.65);
  border-radius: 29px;
  padding: 20px;
}
.controls-conatainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delete-btn {
  background-color: red;
  color: white;
}
.edit-btn {
  background-color: #0e97ce;
  color: white;
}
.add-btn {
  background-color: lightgreen;
  margin-right: 18px;
  margin-left: 18px;
  color: white;
}

.delete-btn,
.add-btn,
.edit-btn {
  border-radius: 8px;
  padding: 10px;
}
.lines-text-editor {
  padding: 11px;
  display: flex;
}
.moveLines {
  background-color: #4aa9d0;
  border-radius: 8px;
  padding: 10px;
}
.moveLines img {
  height: 54px;
  width: 59px;
}
.label-lines {
  font-weight: bold;
  font-size: 2rem;
  border-radius: 8px;
  padding: 10px;
  color: #4aa9d0;
  font-family: cursive;
}

.line-up,
.line-down {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}
.fontPlus img {
  height: 54px;
  width: 59px;
}
.fontMinus img {
  height: 54px;
  width: 59px;
}
.fontPlus,
.fontMinus {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

/* input[type='color']:hover {
  opacity: 0.7;
} */
.btn-download,
.save-btn {
  background-color: white;
  border-radius: 8px;
  font-size: 1rem;
}
.btn-download a {
  color: black;
}

.btn-download,
.save-btn,
.share-btn {
  font-family: cursive;
}

.share-btn {
  background-color: white;
  border-radius: 8px;
  font-size: 1rem;
  color: black;
}
.share-btn img {
  height: 20px;
}
.save-btn img {
  height: 20px;
}
.save-btn {
  color: black;
}

@media only screen and (max-width: 1126px) {
  .editor-container {
    flex-direction: row;
  }
  .canvas-editor {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 555px) {
  .canvas-editor {
    width: 360px;
  }
  .editor {
    width: 360px;
  }
  .logo-img {
    width: 80px;
  }
  .editor-container {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 630px) {
  .saved-canvas {
    width: 360px;
  }
  .grid-container {
    justify-content: center;
    align-items: center;
  }
  .logo {
    padding: 10px;
  }
}

.keywords {
  display: flex;
  font-size: 2rem;
  color: white;
  justify-content: center;
}
.movie-key {
  margin-right: 20px;
  margin-left: 20px;
}

.movie-key,
.baby-key,
.funny-key,
.all-key {
  cursor: pointer;
  font-family: cursive;
}

.fa-trash,
.fa-plus,
.fa-edit {
  font-size: 30px;
  padding: 10px;
  color: white;
}
.fa-long-arrow-alt-down {
  padding: 10px;
  font-size: 30px;
}
.fa-long-arrow-alt-up {
  padding: 10px;
  font-size: 30px;
}
.input-color {
  position: absolute;
  opacity: 0;
}

.input-color-icon {
  display: flex;
  justify-content: center;
}
.color-btn {
  padding: 20px;
  border-radius: 10px;
}
.input-color-icon:hover {
  opacity: 0.7;
}
.fa-palette {
  font-size: 30px;
}
